.absoluteView {
    position: relative;
}

.relativeView {
    position: absolute;
}

.smallFont {
    font-size: 12px;
}

.mediumFont {
    font-size: 16px;
}

.link, .link:hover {
   color:black;
   text-decoration: none; 
   background-color: none;
}

.answerButton {
    width: 15%;
}